*.swp
/*.retry
/.project

# user configuration files
/files/common/install-config.yaml
/files/ignition/jsonpatch
/files/ignition/filetranspiler
/inventory/group_vars/all/infra/check_dns.yml
/inventory/group_vars/all/infra/dhcp_server.yml
/inventory/group_vars/all/infra/dns_client.yml
/inventory/group_vars/all/infra/dns_server.yml
/inventory/group_vars/all/infra/dnsmasq.yml
/inventory/group_vars/all/infra/libvirt.yml
/inventory/group_vars/all/infra/mirror_registry.yml
/inventory/group_vars/all/infra/ovirt.yml
/inventory/group_vars/all/infra/vsphere.yml
/inventory/group_vars/all/openshift_cluster_hosts.yml
/inventory/group_vars/all/openshift_install_config.yml
