# Configuration of OpenShift nodes
#
# Note that the role specification is required for creation of DNS records in dnsmasq
# and also for creation of a correct haproxy load balancer configuration. Available roles are:
# - bootstrap
# - master
# - infra
# - app
#
# Note that the IPMI configuration is only needed for bare metal installations. If not installing
# on bare metal, feel free to remove the ipmi related configuration from this file.
openshift_cluster_hosts:
  - hostname: bootstrap
    role: bootstrap
    ipaddr: 192.168.150.20
    macaddr: 00:1c:14:00:0a:20
    memory_mb: 16384
    num_cpus: 4
    disk_gb: 120
    ignition_config: bootstrap.ign
    ipmi:
      username: admin
      password: ''
      hostname: 192.168.150.120
      port: 623
  - hostname: master1
    etcd_hostname: etcd-0
    role: master
    ipaddr: 192.168.150.21
    macaddr: 00:1c:14:00:0a:21
    memory_mb: 32768
    num_cpus: 8
    disk_gb: 120
    ignition_config: master.ign
    ipmi:
      username: admin
      password: ''
      hostname: 192.168.150.121
      port: 623
  - hostname: infra1
    role: infra
    ipaddr: 192.168.150.22
    macaddr: 00:1c:14:00:0a:22
    memory_mb: 32768
    num_cpus: 8
    disk_gb: 120
    ignition_config: worker.ign
    ipmi:
      username: admin
      password: ''
      hostname: 192.168.150.122
      port: 623
  - hostname: app1
    role: app
    ipaddr: 192.168.150.23
    macaddr: 00:1c:14:00:0a:23
    memory_mb: 16384
    num_cpus: 8
    disk_gb: 120
    ignition_config: worker.ign
    ipmi:
      username: admin
      password: ''
      hostname: 192.168.150.123
      port: 623
