# OpenShift Installer configuration
openshift_install_config:
  # Choose OpenShift distribution (either ocp or okd):
  # ocp = Red Hat OpenShift Container Platform, https://www.openshift.com/
  # okd = Community distribution of Kubernetes, https://www.okd.io/
  distribution: ocp
  # Version of OpenShift to be installed (OCP or OKD).
  # For available OCP versions, go to https://mirror.openshift.com/pub/openshift-v4/clients/ocp
  # For available OKD versions, go to https://github.com/openshift/okd/releases
  version: 4.9.9
  # Unique name of the OpenShift cluster which also becomes a part of cluster's FQDN.
  name: mycluster
  # Base domain which is appended to the cluster's name to form a cluster FQDN.
  base_domain: example.com
  # FQDN of the OpenShift cluster. It must be in the format <name>.<base_domain>
  cluster_domain: mycluster.example.com
  # Number of master nodes. Set this to 3 to achieve a highly-available control plane.
  master_replicas: 1
  # Number of worker nodes equals to the number of infra nodes + the number of app nodes.
  # Typical production installation will have 3 infra nodes. Regardless of how many
  # worker nodes you will deploy, you must set the value of the replicas parameter to 0.
  # This parameter controls the number of workers that the cluster creates and manages
  # for you, which are functions that the cluster does not perform when you use
  # user-provisioned infrastructure.
  worker_replicas: 0
  # This URL will be accessed by OpenShift nodes during the bootstrap in order
  # for them to download their ignition files. Make sure that this URL is reachable
  # from the OpenShift nodes. Note that this URL is only used for bare metal and
  # Libvirt PXE installations. You can leave it as is for other installation targets as
  # it won't be used.
  ignition_url_prefix: 'http://192.168.150.2:81/openshift-auto-upi/mycluster'
  # Configure OpenShift hosts using static IPs as opposed to using DHCP.
  # This feature is currently supported for bare metal, libvirt_pxe, oVirt, and vSphere.
  # It is not supported for libvirt_fwcfg.
  # For bare metal and libvirt_pxe, the PXE menu config is modified to include the
  # static IP configuration.
  # For oVirt and vSphere, a boot ISO is created that includes a custom GRUB boot loader
  # configuration that includes the static IP configuration. This custom GRUB confguration
  # is used only during the first boot of the OpenShift hosts. Following boots will go
  # back to using the factory GRUB configuration.
  static_ips:
    # Must enable in order to use the static IP provisioning.
    enabled: False
    parameters:
      gateway: 192.168.150.1
      netmask: 255.255.255.0
      # On oVirt, the network interface name is most likely "enp1s0".
      interface: enp1s0
      # List of DNS servers
      nameservers:
        - 192.168.150.1
  # When you deploy the cluster, this public SSH key is added to the core user’s
  # ~/.ssh/authorized_keys list. You can use this key to SSH into the OpenShift nodes
  # as the user core. By default, local user's public SSH key is added.
  ssh_key: '{{ lookup("file", "~/.ssh/id_rsa.pub") }}'
  # This is a JSON formatted pull secret that you can obtain at
  # https://cloud.redhat.com when installing a new OpenShift cluster. There is a
  # button "Download pull secret" that downloads this pull secret for you.
  # The secret contains keys for downloading container images from several Red Hat
  # repositories like quay.io, registry.connect.redhat.com, registry.redhat.io and
  # also keys for authenticating against the cloud.openshift.com itself.
  pull_secret: ''
