libvirt:
  # Libvirt connection URI. If you are running ansible-auto-upi directly
  # on the Libvirt machine, then set the URI to qemu:///system.
  # If you want to connect to a remote Libvirt daemon, then the exact
  # URI will depend on the configuration of the Libvirt daemon.
  # Examples of remote Libvirt connection URIs:
  # qemu+tcp://192.168.150.1:16509/system
  # qemu+ssh://root@192.168.150.1/system
  # Using qemu+ssh prompts for the root password to connect to the Libvirt daemon,
  # so if you want to avoid it, place the public key on the KVM host as root user,
  # and the secret key on the helper host as root user.
  libvirt_connection_uri: 'qemu:///system'
  domain_template: files/libvirt/domain.xml
  pool_name: default
  network_name: openshift
  template_name: RHCOS
